<!DOCTYPE html>
<html>
  <body class="index_body">
    <header class="index_header"><h1>DENVER'S PUBLIC ART</h1></header><br>
      <section>
        <%= link_to "Back To My Page", user_path(current_user) %>
        <%= link_to "Artwork by Location", user_locales_path(current_user) %>
      </section>
      <section class="content">
        <% @artworks.each do |artwork| %>
        <ul>
          <li>Title: <%= artwork.title %></li>
          <li>Artist: <%= artwork.artist %></li>
          <li><%= link_to "Wikipedia for #{artwork.artist}",
          "http://www.wikipedia.com/wiki/#{artwork.artist}",
          target: :_blank %></li>
          <li><%= link_to "Google Map for #{artwork.location}",
          "http://www.google.com/maps?q=#{artwork.location}",
          target: :_blank %></li>
        <% end %>
      </ul>
    </section>
  </body>
</html>
