<h1>Welcome, <%= current_user.username %>!</h1>

<% if @favorites.empty? %>
      <p>You have no favorites, choose art you like and add it to your favorites</p>
<% else %>
  <% @favorites.each do |favorite| %>
    <p><%= favorite.artwork.title %></p>
    <p><%= favorite.artwork.artist %></p>
    <p>Rating: <%= favorite.rating %></p>
    <p>Comment: <%= favorite.comment %></p>
    <%= link_to 'Edit Favorite', edit_user_user_artwork_favorite_path(current_user, favorite.artwork, favorite) %><br>
  <% end %>
<% end %>

<%= link_to "Log Out", logout_path, method: :delete %>
